java_library(name='lib{{ proindex }}',
  sources = rglobs('src/main/java/*.java'),
  resources = [
    'subproject{{ proindex }}/src/main/resources'
  ],
)

junit_tests(name='test{{ proindex }}',
  sources = rglobs('src/test/java/*.java'),
  resources = [
    'subproject{{ proindex }}/src/test/resources'
  ],
  dependencies = [
    ':lib{{ proindex }}',
    '3rdparty:junit',
  ],
)
