<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>build-bench</title>

  <!-- CSS, could be merged and minified for improved loading speed -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface|Roboto+Mono">

  <!-- Include jquery.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


  <!-- make sure you include the latest version -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/1.3.0/anchor.min.js"></script>

  <!-- AnchorJs links next to headers-->
  <script type="text/javascript">
    $( document ).ready(function () {
      anchors.add("h1, h2, h3");
    });
  </script>

    <style>
        html, body, .chart, .content, svg {
        width: 100%;
        height: 100%;
        }
    </style>
  
</head>

