<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h3>
        <a href="README.html">
          build-bench
        </a>
      </h3>

    </div>

    <nav class="sidebar-nav">
      <small>
        <a class="sidebar-nav-item active" href="README.html">README</a>
        <a class="sidebar-nav-item active" href="Buildsystems.html">Buildsystems</a>
        <a class="sidebar-nav-item active" href="Design.html">Design</a>
        <a class="sidebar-nav-item active" href="CONTRIBUTING.html">Contributing</a>
        <a class="sidebar-nav-item active" href="LICENSE.txt">License</a>
        <br/>
        <div class="sidebar-nav-item">Results</div>

        <ul>
          <li><div>Mar. 2017<div>
            <a class="sidebar-nav-item active" href="2017_03_commons-math.html">Commons-Math</a>
            <a class="sidebar-nav-item active" href="2017_03_multi-16-10.html">Multi-modules</a>
          </li>
          <li><div>Okt. 2016<div>
            <a class="sidebar-nav-item active" href="2016_10_commons-math.html">Commons-Math</a>
            <a class="sidebar-nav-item active" href="2016_10_multi-16-10.html">Multi-modules</a>
          </li>
          <li><div>Feb. 2016<div>
            <a class="sidebar-nav-item active" href="2016_02_commons-math.html">Commons-Math</a>
            <a class="sidebar-nav-item active" href="2016_02_multi-16-10.html">Multi-modules</a>
          </li>
        </ul>
      </small>


    </nav>

    <!-- <p>Generated {{ site.time | date: '%Y-%m-%d' }}.</p> -->
  </div>
</div>
