package com;

import org.junit.Test;
import org.junit.Assert;

public class Simple${INDEX}Test {

     @Test
     public void testSimple${INDEX}() {
          Assert.assertEquals("1", Integer.toString(1));
     }

}
