apply plugin: 'java'

group = 'com.example'
version = '1.0.0-SNAPSHOT'

sourceCompatibility = '1.7'
targetCompatibility = '1.7'

repositories {
  jcenter()
  mavenCentral()
}


dependencies {
  compile 'junit:junit:4.11'
}
